.button {
	display: flex;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
	width: 210px;
	height: 50px;
	text-align: center;
	border: 1px solid #000000;
	cursor: pointer;
}

.colorSubmit {
	background: #ffc802;
	text-decoration: dashed;
}

.colorSubmit:hover {
	background: #ffedab;
}

.colorReset {
	background: #ffff;
}

.colorReset:hover {
	background: grey;
}
